.bottom{
    background-color: gold;
    height: 90px;
    
}

.bottom-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
    justify-items: center;
    

    
}
.bottom-logo{
    margin-top: 25px;
    height: 40px;
    /* background-color: goldenrod; */
    
}